<div class="container">

  <div class="center-form panel">
    <div class="panel-body">
      <h4 class="text-center" style="margin-bottom: 20%"><i class="fa fa-sign-in"></i> Log in</h4>

      <button class="btn btn-block btn-google" ng-click="googleLogin()">
        <i class="fa fa-google"></i> Sign in with Google
      </button>
      <button class="btn btn-block btn-facebook" ng-click="fbLogin()">
        <i class="fa fa-facebook"></i> Sign in with Facebook
      </button>
    </div>
  </div>

</div>
